.text-input:error {
    -fx-text-fill: white;
    -fx-border-insets: 0;
    -fx-border-width: 2px;
    -fx-border-color: red;
    -fx-border-style: hidden hidden solid hidden;
    -fx-background-color: derive(red, 99%);
}
